* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.8);
  color: white;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  
}
.nav ul li a :hover{
    color: red;
}
.hero{
    background-image: url(/assets/background.jpg);
    height: 100vh;

}
.hero-content{
    color: black;
}
