* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.8);
  color: white;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  
}
.nav ul li a:hover{
    color: red;
}
.hero{
    background-image: url(/assets/background.jpg);
    height: 100vh;

}
.hero-content h3{
    color: white;
    padding-top: 350px;
    font-size: 50px;
    padding-left: 70px;
}
.hero-content button{
  border: solid white 2px;
 margin-left: 70px;
 margin-top: 30px;
 padding: 20px;
 font-size: 2opx;
 background-color: transparent;
 color: white;
 
}
.hero-content button:hover{
    border: solid white 2px;
 margin-left: 70px;
 margin-top: 30px;
 padding: 20px;
 font-size: 2opx;
 background-color: transparent;
 color: white;
}
.mission{
  background-image:url(/assets/ChatGPT\ Image\ Jul\ 1\,\ 2025\,\ 01_41_10\ PM.png);
  height: 100vh;
}
.mission-content h1{
  padding-top: 350px;
  color: white;
  font-size: 50px;
  padding-left: 70px;

}
.mission-content strong{
  color: white;
  font-size: 50px;
  padding: top 0px;
  padding-left: 70px;
}
.mission-content button{
    border: solid white 2px;
 margin-left: 70px;
 margin-top: 30px;
 padding: 15px;
 font-size: 2opx;
 background-color: transparent;
 color: white;

}
.mission-content button:hover{
    background-color: white;
  color: black;
}
.launch{
  background-image: url(/assets/launch.png);
  height: 100vh;
  background-repeat:no-repeat ;
  background-size: cover;
  
}
.launch-content h3{
  color: white;
    padding-top: 350px;
  color: white;
  font-size: 15px;
  padding-left: 70px;
}
  
.launch-content h1{
  font-size: 50px;
  color: white;
  padding-left: 70px;
}
.launch-content button{
      border: solid white 2px;
 margin-left: 70px;
 margin-top: 30px;
 padding: 15px;
 font-size: 15px;
 background-color: transparent;
 color: white;

}
.launch-content button:hover{
    background-color: white;
  color: black;
}
.upcoming{
  background-image: url(/assets/starlink.jpg);
  height: 100vh;
  background-repeat:no-repeat ;
  background-size: cover;
}
.upcoming-content h3{
  color: white;
    padding-top: 350px;
  color: white;
  font-size: 15px;
  padding-left: 70px;
  
}
.upcoming-content h1{
   font-size: 50px;
  color: white;
  padding-left: 70px;
}
.upcoming-content button{
       border: solid white 2px;
 margin-left: 70px;
 margin-top: 20px;
 padding: 15px;
 font-size: 15px;
 background-color: transparent;
 color: white;

}
.upcoming-content button:hover{
  background-color: white;
  color: black;
}
.recent{
  background-image: url(/assets/lock.png);
  height: 100vh;
  background-repeat:no-repeat ;
  background-size: cover;

}
.recent-content h3{
  color: white;
    padding-top: 350px;
  color: white;
  font-size: 20px;
  padding-left: 70px;
  
}
  .recent-content h1{
   font-size: 50px;
  color: white;
  padding-left: 70px;
  }
  .recent-content button{
       border: solid white 2px;
 margin-left: 70px;
 margin-top: 20px;
 padding: 15px;
 font-size: 15px;
 background-color: transparent;
 color: white;

}
.recent-content button:hover{
  background-color: white;
  color: black;
}
.space{
  background-image: url(/assets/x.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.space-content h1{
   padding-top: 350px;
  color: white;
  font-size: 50px;
  padding-left: 70px;
}
.space-content button{
   border: solid white 2px;
 margin-left: 70px;
 margin-top: 20px;
 padding: 15px;
 font-size: 15px;
 background-color: transparent;
 color: white;
}
.space-content button:hover{
  background-color: white;
  color: black;
}
.footer{
  background-color: black;
  padding-top: 20px;
  display:flex;
  justify-content: space-between;
  
}
.footer-content h4{
  color: white;
  display:flex;
  gap: 10px;
  font-size: 10px;
  padding-left: 500px;
  
}